.box1{
    background-color: #FFF9F3;
    display: flex;
    margin-top: -9px;
    max-height: 10em;
    gap:2rem;
    
    
}
.body{
    font-family: 'Poppins';    
}

.title{
    left: 4rem;
    position: relative;
    font-family: 'Poppins';
    color: #EB6D20;
    width: 21rem;
    
    
}

.account{
    display: flex;
    position: relative;
    align-items: center;
    gap: 12px;
}


.account img{
    height: 24px;
    
    
}
/* 
.account p{
    position: relative;
    right: -330px;
    bottom: 15px;
} */

.box1{
    display: flex;
}
/* 
.shopping img{
    position: relative;
    right: -400px;
    top: 25px;
}

.shopping p{
    position: relative;
    right: -450px;
    bottom: 15px;
} */



.shopping{
   
    display: flex;
    align-items: center;
    position: relative;
    
    gap:12px;
}

.shopping img{
    height: 24px;

    position: relative;
}



.search-icon{
    
}

.select-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 10rem;
    height: 32px;
    margin-left: 1rem;

    
   
}

.select-box{
    border:none;
    appearance: none;
    background-color: #F5F6F8;
    padding: 8px 12px 8px 8px ;
    border-radius: 50px;
    width: 100%;
    text-align: center;
}


.searchbar input{
    width: 40em;
    height: 30px;
    padding: 8px 12px 8px 8px;
    border-radius: 50px;
    top: 24px;
    left: 524px;
    margin-right: 10px;
}
.search{
    right: 2550px;
}

.help-button {
    color: #fff;
    background-color: #EB6D20;
    
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: flex;
    margin-top: 5px;
    border-radius: 50px;
    cursor: pointer;
}


#category{
padding: 8px 24px 8px 24px;
width: 154px;
height: 32px;
border-radius: 50px;

}




form {
    
    border-radius: 50px;
    
    display: flex;
   
    
    margin: 0 auto;
  }
  
  button {
    background-color: transparent;
    border: none;
    margin-left: 0px;
    
    cursor: pointer;
  }
  
  input {
    border: none;
    outline: none;
    width: 20rem;
    margin-left: 20px;
  }


  
.items{
    display: flex;
    background-color: #FFF9F3;
    gap:4rem;
    margin: auto;
    padding-bottom: 10px;
    justify-content: center;
}



.images1{
    margin-top:1em;
    display: flex;
    gap: 0.8em;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    
}


.images1 :hover{
    cursor: pointer;
}

.images2{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1rem;
}


.images2 img{
    padding: 0.5rem;
}
  

.cards{
    justify-content: center;
    display: flex;
    margin-right: 4rem;
    gap:1rem;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 4rem;
}

.h{
    padding-left: 1rem;
    padding-top: 0.8rem;
}




.text{
    margin-left: 4rem;
    padding-top: 60px;
    font-family: 'Poppins';
}
.scroll-items{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}






.craft{
    display: flex;
    justify-content: space-between;
    
}

.craft p{
    padding-top: 20px;
}



.left-expand{
    width: 48px;
    height: 48px;
    padding-top:30px ;
}


.colortext {
    width: 80px;
    float: right;
    margin-right: 7rem;
    position: relative;
    bottom: 50px;
    
}





.bag{
    position: absolute;
    left: 70px;
    top: 40px;
}

.heart{
    position:absolute;
    left:210px;
    top:40px;
}

.desc1{
    position: absolute;
    bottom: 10px;
    left:75px;
}

.chappal{
    position: absolute;
    left: 300px;
    top: 40px;
}

.heart2{
    position:absolute;
    left:430px;
    top:40px;
}

.desc2{
    position: absolute;
    bottom: 10px;
    left:295px;
}

.price1{
    bottom: 100px;
}

.bluebag{
    position: absolute;
    left: 500px;
    top:40px;
}

.heart3{
    position:absolute;
    left:645px;
    top:40px;
}


.desc3{
    position: absolute;
    bottom: 10px;
    left:505px;
}


.shoes2{
    position: absolute;
    right:32em;
    top:40px;
}


.desc4{
    position: absolute;
    bottom: 26px;
    left:720px;
}

.heart4{
    position:absolute;
    left:870px;
    top:40px;
}

.ring{
    position: absolute;
    right: 19em;
    top:30px;
}


.heart5{
    position:absolute;
    right:20em;
    top:40px;
}

.desc5{
    position: absolute;
    bottom: 10px;
    right:19.3em;
}

.heart6{
    position:absolute;
    right:5.9em;
    top:40px;
}

.bangle{
    position: absolute;
    right: 5.4em;
    top:50px;
}
.desc6{
    position: absolute;
    bottom: 10px;
    right:5.9em;
}

.text2{
    position: relative;
    margin-left: 6rem;
    margin-top: 2rem;
    
    font-family: 'Poppins';
height: 26px;

}

.texts{
    margin-top: 60px;
    margin-left:150px;
    padding-right:160px;
    display:flex;
    
}

.heading1,.heading2, .heading3,.heading4, .heading5,.heading6{
    text-align: center;
    border-bottom: solid #E9E9E9 ;
    
}

.modern{
    flex: 1;
}

.decor{
    flex: 1;
}

.polka{
    flex: 1;
}

.minimal{
    flex: 1;
}

.gift1{
    flex:1;
}

.wedding1{
    flex:1;
}

.farm{
   padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
    
}

.decor{
    padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
}

.polka{
    padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
}

.minimal{
    padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
}

.gift1{
    padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
}

.wedding1{
    padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
}

.lampbox{
    background: #FBF7D3;
    display: flex;
    position: relative;
}

.lamp-price{
    bottom: 8px;
    position: absolute;
    margin-left: 15px;
}

.lampbox{
   height: 418px;
   max-width: 312px;
   position: relative;
}
.lamptext{
    margin-left: 15px;
    bottom:50px;
   position: absolute;
}

.phone{
   
}

.phonetext{
    bottom: 40px;
}


.wash{
    border-radius: 5px;
    width: 312px;
    
    background-color: #C0ABFD;
    height: 418px;
}

.washtext{
    margin-top: 22px;
    margin-left: 15px;
}

.wash-price p{
    margin-left: 13px;
    top:10px;
    position: relative;
}

.images3{
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    gap:1rem;
    justify-content: center;
}

.subscribe{
    
min-height: 306px;
width: 100%;

max-width: 81rem;
position: relative;
background: #5959D9;
border-radius: 5px ;
margin-left: 5%;
margin-top: 2rem;
margin-right: 5%;

top:10px;
}

.offers{
    color:#fff;
    font-size: larger;
    left: 4rem;
    top: 4rem;
    display: flex;
    position: relative;
    font-weight: 500;
   
}

.offers2{
    color:#fff;
   
    font-size: larger;
    font-weight: 500;
    top: 4rem;
    display: flex;
    margin-left: 4rem;
    position: relative;
}


.search2{
    background-color:#fff;
   

    border-radius: 50px; 
    display: flex;
    
    margin: 0 auto;
    margin-top: 6rem;
    
    width: 38rem;
    height:  48px;
}

.searchpro{
    border-radius: 100px;
}




.submit{ 
    position: relative;
    top:0.5rem;
    background-color: #EB6D20;
    border-radius: 50px;
   margin-left: 7rem;
    width: 133px;
    height: 32px;

}

.submit button{
    
    padding: 0.5rem;
    padding-left: 2rem;
    
    color: wheat;
    font-weight: 500;
}

/* .searchpro{
    margin-left: 10px;
    border-radius: 50px;
    margin-right: 3rem;
    
} */




.order{
    
    text-decoration: underline;
    text-align: center;
    margin: 0 auto;
    color:#D6D6D6;
}

.ecommerce{
    
  margin-top: 30px;
   background-color: #F5F6F8;
   text-align: center;
   height: 48px;
}
.ecommerce p{
    position: relative;
    top:14px;
}
.footer{
    display: flex;
    margin-left: 70px;
    
    
}

.para1{
    flex: 2;
    justify-content: center;
    


}

.para2{
    flex: 1;
   
}

.para3{
    flex: 1;
    
}
.para4{
    flex: 1;
}

.para5{
    flex: 1;
}

.last{
    display: flex;
    margin-left: 4.5rem;
}


.right{
    flex:2;
}

.privacy{
    flex: 1;
    position: relative;
    right: 90px;
}

.terms{
flex:1;
position: relative;
    right: 190px;
}

.cookie{
flex: 1;
position: relative;
    right: 300px;
}

.scroll-to-top {
    margin-left: 1200px;
    position: relative;
    bottom: 58px;
}

.search1{
    background-color:#fff;


border-radius: 50px;


position: relative;
display: flex;
align-items: center;
margin-top: 5px;

width: 37rem;
height:  48px;
}


.card{
    display: flex;
    background-color: #F5F6F8;
    width: 420px;
    height: 174px;
   
    
    border-radius: 5px;
}
/* 
.craftimg{
    margin-left: 0rem;
    padding: 9px;
    
    margin-top: 1.5rem;
   
    margin: 0 auto;
} */
.card-img{
    height: 120px;
    margin-top: 2rem;
    margin-left: 5rem;
}



.t{
    display: flex;
    flex-wrap: wrap;
}


.shop{
    display: flex;
    width: 288px;
    margin-top: 10px;
    background-color: #F5F6F8;
    border-radius: 50px;

}

.down{
    margin-left: 12rem;
    padding-top: 1rem;
}

.footer-text{
    padding-left: 10px;
}

.shop1{
    display: flex;
    width: 288px;
    margin-top: 20px;
    border-radius: 50px;

}

.polka1{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid #E9E9E9;
    
}

.shop2{
    display: flex;
    width: 288px;
    margin-top: 20px;
    background-color: #F5F6F8;
    border-radius: 50px;
}

.shop3{
    display: flex;
}

.icons{
    
    background-color:#F5F6F8;
    display: flex;
    width: 288px;
    height: 40px;
    margin-top: 20px;
    border-radius: 50px;
}

.icons img{
    height: 20px;
    margin: 0 auto;
    margin-top: 9px;
}


.new-footer{
    margin-left: 100px;
    display: none;
}




.small-icons-row{
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;

}

.small-icons{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
    
}


.small-icons-row .frame{
    height: 144px;
    width: 144px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(154, 154, 154, 0.15);
}

.small-icons-row p{
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}


.container1 {
    position: relative;
    margin-top: 30px;  
    margin-left: 3rem;  
    margin-right: 3rem;
    
}


.handpick-items-row{
    position: relative;
    margin-top: 30px;
}

.container1-items-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px;
}


.handpick-items{
    height: 260px;
    width: 170px;
    background-color: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px rgba(154, 154, 154, 0.15);
    padding: 10px;
    position: relative;
}


.handpick-items .border-heart-circle{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    border: 1px solid #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handpick-items h4{
    font-size: 12px;
    font-weight: 400;
    color:#3E3E3E;
}

.handpick-items p{
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
    color:#3E3E3E;
}


.texts{
    display: flex;
    justify-content: space-between;
   gap:40px;
    margin-bottom: 30px;
}


.heading{
    font-size: 16px;
    font-weight: 500;
    gap:20px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
}

.heading p{
    width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.new-head{
    height: 78px;
    border-bottom: 1px solid #EB8426;
}

.new-head p{
    color: #EB8426;
    margin-bottom: 10px;
}

.small-nav{
    width: 80px;
    height: 30px;
    position: relative;
    color: beige;
    bottom: 40px;
    border-radius: 100px;
    
    background: #FFFFFF;
    display: none;

}

.small-nav img{
   margin-left: 30px;
   margin-top: 2px;
}


@media screen and (max-width:1200px){

    .images1 {
       
       
    }

    .scroll-to-top{
        display: none;
}   

    .items{
        display: none;
    }

    .box1{
        height: 9rem;
        gap:0;
    }

    .help-button{
        height: 3rem;
        margin-top: 30px;
        margin-right: 1rem;
    }

    .search1{
        margin-top: 90px;
        width: 100%;
    }

    .title{
        margin-top: 30px;
        
        
    }

    .title p{
        display: flex;
    }

    .account{
        margin-bottom: 20px;
        margin-right: 9px;
    }

    .shopping{
        margin-bottom: 20px;
    }

    .small-nav{
        display: block;
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .texts{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
}


@media screen and (max-width:600px){
    
    
    .account p{
        display: none;
    }

    
    .search1{
        margin-top: 60px;
    }

    .images1{
        flex-wrap: wrap;
    }
    .search1{
        width: 15rem;
        margin-left: 3rem;
    }
    .help-button p{
        display: none;
    }

    .right{
        display: none;
    }

    .box1{
        gap:0;
    }

    .title{
        bottom: 40px;
        flex: none;
        width: 7rem;
    }
    .scroll-to-top{
        display: none;
    }

    .shopping p{
        display: none;
    }

    .img-acnt{
       bottom: 25px;
        right:100px;
        position: relative;
        flex: none;

    }

    .search1{
        width: 400px;
        margin-top: 80px;
    }
    
    
    .privacy, .terms, .cookie{
        flex: none;
        display: none;
    }

    .para1,.para2,.para3,.para4,.para5{
        display: none;
        flex: none;
    }

    .subscribe{
        margin-left: 0px;
    }
    
    /* .submit button{
        position: relative;
        top:0px;
        bottom: 60px;
    } */

    .search-icon{
        right:10rem;

    }

    .images1{
        
    flex-direction: row;

    }

    .new-footer{
        display: block;
    }
    .texts{
        display: grid;
        max-width: 50%;
        grid-template-columns: 1fr 1fr ;
        gap:10px;
        margin-left: 50px;
    }

    .card-img{
        position: relative;
        right:55px;
        height: 127px;
        padding-top: 20px;
    }

    .card{
        height: 300px;
        width: 250px;
        margin-left: 50px;
    }

    .h{
        position: relative;
        top:140px;
        left: 90px;
    }

    .order{
        display: none;
    }

    .img-shop{
        bottom: 22px;
        right:70px;
        position: relative;
        flex: none;
    }

    .help-button{
        display: none;
    }

    .select-container{
        display: none;
    }

    .item1, .item2, .item3,.item4, .item5, .item6, .item7{
        display: none;
        flex: none;
        
    }

    .colortext{
        display: none;
    }

    /* .search2{
        width:0;
    } */

    .select-box{
        display: none;
    }

    /* .submit{
        
        position: absolute;
        margin-left: 12rem;
        top: 8rem;

    }

    .search2{
       
        top:19px;
        margin-left: 6rem;
    } */

    .submit{
        position: relative;
        right: 4rem;
        top:3.2rem;
        width: 600px;

        
    }

    .submit button{
        padding-left: 70px;
    }

    .search2{
        bottom: 80px;
        width: 350px;
    }

    .small-nav{
        display: none;
    }



}
